<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to 401k Direct</h1>
        <hr class="my-4">
        <p>Click on start benchmarking to get started right away,</p>
        <a class="btn btn-primary btn-lg" [routerLink]="[ '/select-company' ]" role="button">Start Benchmarking</a>
    </div>
</div>
