<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">401k Direct</h1>
        <button class="btn btn-secondary float-right" [routerLink]="[ '/select-company' ]" role="button">Try another company</button>
        <p class="lead">Benchmark Results</p>        
        <hr class="my-4">
        <div class="row">
            
            <!-- if myplan is lower then lowest -->
            <div *ngIf="myPlanBox.totalCostPercentage > 0 && myPlanBox.totalCostAmount < benchmarkResult.min.TotalCost" class="col-md-3">
                <app-my-plan-card [myPlanBox]="myPlanBox"></app-my-plan-card>
            </div>
            <!-- end of myplan box-->

            <div class="col-md-3">
                <app-cost-card [color]="'success'" [caption]="'Lowest Cost'" [cost]="benchmarkResult.min"></app-cost-card>
            </div>

            <!-- if myplan is lower then average -->
            <div *ngIf="myPlanBox.totalCostPercentage > 0 && (myPlanBox.totalCostAmount < benchmarkResult.avg.TotalCost && myPlanBox.totalCostAmount > benchmarkResult.min.TotalCost)" class="col-md-3">
                <app-my-plan-card [myPlanBox]="myPlanBox"></app-my-plan-card>
            </div>
            <!-- end of myplan box-->

            <div class="col-md-3">
                <app-cost-card [color]="'warning'" [caption]="'Average Cost'" [cost]="benchmarkResult.avg"></app-cost-card>
            </div>

            <!-- if myplan is lower then highest -->
            <div *ngIf="myPlanBox.totalCostPercentage > 0 && (myPlanBox.totalCostAmount < benchmarkResult.max.TotalCost && myPlanBox.totalCostAmount > benchmarkResult.avg.TotalCost)" class="col-md-3">
                <app-my-plan-card [myPlanBox]="myPlanBox"></app-my-plan-card>
            </div>
            <!-- end of myplan box-->

            <div class="col-md-3">
                <app-cost-card [color]="'danger'" [caption]="'Highest Cost'" [cost]="benchmarkResult.max"></app-cost-card>
            </div>

            <!-- if myplan is lower then highest -->
            <div *ngIf="myPlanBox.totalCostPercentage > 0 && myPlanBox.totalCostAmount > benchmarkResult.max.TotalCost" class="col-md-3">
                <app-my-plan-card [myPlanBox]="myPlanBox"></app-my-plan-card>
            </div>
            <!-- end of myplan box-->

            <div *ngIf="myPlanBox.totalCostPercentage == 0" class="col-md-3">
                <!-- <div *ngIf="myPlanBox.totalCostPercentage > 0" class="card">
                    <div class="card-header"><b>Your Plan</b> <button [disabled]="loadingDropdowns" class="btn btn-secondary btn-sm float-right mb-0" data-toggle="modal" data-target="#myPlanModal">Change</button></div>
                    <div class="card-body">
                        <h6 class="card-title">
                            <div class="card-title-top">Total Cost</div>
                            <div class="card-title-bottom">{{ myPlanBox.totalCostPercentage }}% (${{ myPlanBox.totalCostAmount }})</div>
                        </h6> 
                        <h6 class="card-title text-danger">
                            <div class="card-title-top">Per Participant</div>
                            <div class="card-title-bottom">${{ myPlanBox.perParticipant }}</div>
                        </h6>
                        
                        <div class="card-text pb-3 pt-3">
                            <div class="row">
                                <div class="col small-font"><b>Investment Cost</b></div>
                                <div class="col badge badge-secondary">{{ myPlanBox.InvestmentCostPercentage }}% (${{ myPlanBox.InvestmentCostAmount }})</div>
                            </div>
                        </div>
                        <div class="card-text pb-3">
                            <div class="row">
                                <div class="col small-font"><b>Other Cost</b></div>
                                <div class="col badge badge-secondary">{{ myPlanBox.otherCostPercentage }}% (${{ myPlanBox.otherCostAmount }})</div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Plan</h5>
                        <p class="card-text">Please provide required information to calculate your plan.</p>
                        <button [disabled]="loadingDropdowns" class="btn btn-secondary" data-toggle="modal" data-target="#myPlanModal">Update Information</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        
        <div class="container text-center">
            <button class="btn btn-outline-primary" role="button">Login</button>
            <h5 class="mt-3 mb-3">Or signup</h5>
            <button class="btn btn-default"><img src="assets/facebook.png" width="32"/></button>
            <button class="btn btn-default"><img src="assets/instagram.png" width="32"/></button>
            <button class="btn btn-default"><img src="assets/linkedin.png" width="32"/></button>
            <button class="btn btn-default"><img src="assets/twitter.png" width="32"/></button>
            <button class="btn btn-default"><img src="assets/search.png" width="32"/></button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myPlanModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Current Total Cost %</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="myPlan.currentTotalCost">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Hard Dollar Amount</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" [(ngModel)]="myPlan.hardDollarAmount">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Current Provider</label>
                <div class="col-sm-7">
                    <select class="form-control" [(ngModel)]="myPlan.currentProviderId">
                        <option *ngFor="let provider of providers" [value]="provider.id">{{ provider.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Select TPA</label>
                <div class="col-sm-7">
                    <select class="form-control" [(ngModel)]="myPlan.tpaId">
                        <option *ngFor="let tpa of TPAs" [value]="tpa.id">{{ tpa.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button #myPlanModalClose type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="updateInformationSave()">Save</button>
        </div>
        </div>
    </div>
</div>
