<div class="card">
    <div class="card-header text-white" [ngClass]="'bg-' + color"><b>{{ caption }}</b></div>
    <div class="card-body">
        <h6 class="card-title">
            <div class="card-title-top">Total Cost</div>
            <div class="card-title-bottom">{{ cost.TotalCostPercentage.toFixed(2) + '%' }} ({{ '$' + cost.TotalCost.toFixed(0) }})</div>
        </h6>      
        <h6 class="card-title" [ngClass]="'text-' + color">
            <div class="card-title-top">Per Participant</div>
            <div class="card-title-bottom">{{ '$' + cost.TotalCostParticipant.toFixed(0) }}</div>
        </h6>

        <div class="card-text pb-3 pt-3">
            <div class="row">
                <div class="col small-font"><b>Compensation</b></div>
                <div class="col badge" [ngClass]="'badge-' + color">{{ cost.Percentage.toFixed(2) + '%' }} ({{ '$' + cost.BrokerCompensationAmount.toFixed(0) }})</div>
            </div>
        </div>
        <div class="card-text pb-3">
            <div class="row">
                <div class="col small-font"><b>Investment Cost</b></div>
                <div class="col badge" [ngClass]="'badge-' + color">{{ cost.InvestmentCost.toFixed(2) + '%' }} ({{ '$' + cost.InvestmentCostAmount.toFixed(0) }})</div>
            </div>
        </div>
        <div class="card-text pb-3">
            <div class="row">
                <div class="col small-font"><b>Service Cost</b></div>
                <div class="col badge" [ngClass]="'badge-' + color">{{ cost.ProviderFeeCost.toFixed(2) + '%' }} ({{ '$' + cost.ProviderFeeCostAmount.toFixed(0) }})</div>
            </div>
        </div>
    </div>
</div>