<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="[ '/dashboard' ]">Dashboard</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">            
                <button class="btn btn-outline-secondary my-2 my-sm-0" >Logout</button>
            </form>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>