<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">401k Direct</h1>
        <p class="lead">Company Information</p>
        <hr class="my-4">

        <div class="text-center mb-5" *ngIf="loadingInformation">
            <span>Loading, please wait ...</span>
            <div class="progress">            
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="row mb-2">
                <div class="col">
                    <label>Sponsor Name</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.SponsorName" placeholder="Sponsor Name">
                </div>
                <div class="col">
                    <label>Plan Name</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.PlanName" placeholder="Plan Name">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label>Address</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.Address" placeholder="Address">
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.City" placeholder="City">
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.State" placeholder="State">
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.ZipCode" placeholder="ZipCode">
                </div>
                <div class="col">
                    <label>Full Plan Assets</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.FullPlanAssets" placeholder="Full Plan Assets">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label>Contact</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" placeholder="Contact">
                </div>
                <div class="col">
                    <label>Annual Contributions</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.TotalIncomeAmount" placeholder="Annual Contributions">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label>Phone Number</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.PhoneNumber" placeholder="Phone Number">
                </div>
                <div class="col">
                    <label>Number of Participants</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.ParticipentAccountBalance" placeholder="Number of Participants">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label>Email</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.Email" placeholder="Email">
                </div>
                <div class="col">
                    <label>Annual Compensation Percentage</label>
                    <input [disabled]="loadingInformation" type="text" class="form-control" [(ngModel)]="companyData.Percentage" placeholder="Annual Compensation Percentage">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label>Current Broker</label>
                    <select [disabled]="loadingInformation" [(ngModel)]="companyData.CurrentBroker" class="form-control">
                        <option value="0">NOT a current broker of record</option>
                        <option value="1">Current broker of record</option>                  
                    </select>
                </div>
                <div class="col">
                    <label>Service Model</label>
                    <select [disabled]="loadingInformation" [(ngModel)]="companyData.TpaFlag" class="form-control">
                        <option value="TPA">TPA</option>
                        <option value="Bundled">Bundled</option>                  
                    </select>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <button [disabled]="loadingInformation" class="btn btn-primary float-right" (click)="benchmark()">
            <span *ngIf="loadingInformation" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Benchmark
        </button>
    </div>
</div>
