<div class="container">
    <div class="card mt-5">
        <h3 class="ml-3 mt-3">Login</h3>
        <div class="card-body">      
        <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="email" type="email" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input [(ngModel)]="password" type="password" class="form-control">
        </div>
        <button (click)="login()" type="submit" class="btn btn-primary float-right">Login</button>
        </div>
    </div>
</div>