@charset "utf-8";


/* page not found  */

/* CSS Document */
@font-face { font-family: 'MinionPro-Regular'; src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MinionPro-Regular.otf')  format('opentype'), url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf')  format('truetype'), url('../fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg'); font-weight: normal; font-style: normal; }
*:focus { outline: -webkit-focus-ring-color none; outline: none; }
a:visited,
a:focus,
a:active,
a:hover { outline: none !important; text-decoration: none; }
::-webkit-input-placeholder { opacity: 1; }
:-moz-placeholder { /* Firefox 18- */
opacity: 1; }
::-moz-placeholder { /* Firefox 19+ */
opacity: 1; }
:-ms-input-placeholder { opacity: 1; }
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { opacity: 0.5; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { opacity: 0.5; }

/* FF 4-18 */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { opacity: 0.5; }
::selection { background: #FFFF00; color: #000; text-shadow: none; }
::-moz-selection { background: #FFFF00; color: #000; text-shadow: none; }
input:focus,
select:focus { outline: none; }
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover { -webkit-box-shadow: 0 0 0px 1000px white inset; box-shadow: 0 0 0px 1000px white inset; background-color: #fff !important; }
body { font-family: 'Open Sans', sans-serif; color: #666; min-width: 320px; font-size: 16px; }
img { max-width: 100%; height: auto; }
a,
a *,
a:before,
a:after,
.btn,
.btn *,
.transition { -webkit-transition: .3s linear; -moz-transition: .3s linear; -ms-transition: .3s linear; -o-transition: .3s linear; transition: .3s linear; }
a { text-decoration: none; outline: none; color: #00528c; }
a:focus,
a:hover { color: #45a142; text-decoration: none; }
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 { font-weight: 300; line-height: normal; color: #00528c; }
h1,
.h1 { font-size: 48px; margin-top: 0px; margin-bottom: 30px; }
h2,
.h2 { font-size: 36px; }
h3,
.h3 { font-size: 30px; }
h4,
.h4 { font-size: 24px; }
h5,
.h5 { font-size: 20px; }
h6,
.h6 { font-size: 16px; }
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small { display: block; color: #45a142; font-weight: normal; font-size: 80%; line-height: 1.4; }
.mian-bg { background: #fff url("../images/Not-Found.jpg") no-repeat left top / cover; padding: 100px 0 70px; }
.not-found-icon { width: 270px; height: 270px; text-align: center; border: 13px solid rgba(255, 255, 255, 1); -moz-border-radius: 135px; -webkit-border-radius: 135px; border-radius: 135px; background-color: #45a142; -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, .3); -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, .3); box-shadow: 0 5px 13px rgba(0, 0, 0, .3); margin: 0 auto 48px; display: flex; justify-content: center; flex-direction: column; }
.not-found-icon h6 { color: #fff; font-weight: 900; text-transform: uppercase; margin: 0; line-height: 1; text-transform: capitalize; }
.not-found .content { text-align: center; }
.not-found h1,
.not-found h4 { color: #45a142; font-weight: 700; }
.not-found h1 { }
.not-found .sub-title { color: #323e48; margin-bottom: 45px; }
.not-found .bigger-h6 {
    color: #323e48;
    font-size: 18px;
    display: block;
    margin: 10px 0;
}

    @media (max-width:640px) {
      /* page not found  */
      h1,
      .h1 { font-size: 30px;  }
      h2,
      .h2 { font-size: 28px; }
      h3,
      .h3 { font-size: 24px; }
      h4,
      .h4 { font-size: 22px; }
      h5,
      .h5 { font-size: 18px; }
      h6,
      .h6 { font-size: 14px; }
      .mian-bg { background-position: center; padding: 30px 0; }
      .not-found-icon { width: 170px; height: 170px; border-width: 10px; border-radius: 50%; margin: 0 auto 30px; }
      .not-found-icon img { max-width: 70px; margin: 0 auto; display: block; }
      .not-found-icon h6 { font-size: 12px; font-weight: 700; text-transform: capitalize; }
      .not-found .sub-title { margin-bottom: 30px; }
      .not-found .bigger-h6 { font-size: 16px; }
      .not-found .sub-title br {
    display: none;
}
    }