<div class="card">
    <div class="card-header"><b>Your Plan</b> <button [disabled]="loadingDropdowns" class="btn btn-secondary btn-sm float-right mb-0" data-toggle="modal" data-target="#myPlanModal">Change</button></div>
    <div class="card-body">
        <h6 class="card-title">
            <div class="card-title-top">Total Cost</div>
            <div class="card-title-bottom">{{ myPlanBox.totalCostPercentage }}% (${{ myPlanBox.totalCostAmount }})</div>
        </h6> 
        <h6 class="card-title text-danger">
            <div class="card-title-top">Per Participant</div>
            <div class="card-title-bottom">${{ myPlanBox.perParticipant }}</div>
        </h6>
        
        <div class="card-text pb-3 pt-3">
            <div class="row">
                <div class="col small-font"><b>Investment Cost</b></div>
                <div class="col badge badge-secondary">{{ myPlanBox.InvestmentCostPercentage }}% (${{ myPlanBox.InvestmentCostAmount }})</div>
            </div>
        </div>
        <div class="card-text pb-3">
            <div class="row">
                <div class="col small-font"><b>Other Cost</b></div>
                <div class="col badge badge-secondary">{{ myPlanBox.otherCostPercentage }}% (${{ myPlanBox.otherCostAmount }})</div>
            </div>
        </div>
    </div>
</div>