/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron {
    padding-top: 20px;
}
.col-md-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.small-font{
    font-size: 12px;
}

.card-title-top {
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-title-bottom {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}