<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">401k Direct</h1>
        <p class="lead">Select Company</p>
        <div class="form-group">

            <!-- <select [disabled]="companyLoading" class="form-control" [(ngModel)]="selectedCompanyId">
                <option *ngFor="let company of dolCompanies" [value]="company.id">{{ company.name }}</option>
            </select> -->
            <input type="text" [(ngModel)]="searchCompany" (ngModelChange)="search($event)" class="form-control"/>
        </div>
        <hr class="my-4">

        <div class="text-center" *ngIf="companyLoading">
            <span>Loading, please wait ...</span>
            <div class="progress">            
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
        
        <div *ngIf="dolCompanies.length > 0" class="card">
            <div class="card-body">
                <div class="mb-2"><i>{{ dolCompanies.length }} results found ...</i></div>
                <ul class="list-group" style="height: 300px; overflow: scroll; overflow-x: hidden;">
                    <li class="list-group-item" *ngFor="let company of dolCompanies"><b>{{ company.name }}</b> <button [routerLink]="[ '/company-information/' + company.id ]" class="btn btn-secondary btn-sm float-right">Select</button></li>
                </ul>
            </div>
        </div>                
    </div>
</div>
