<div class="jumbotron">
    <h1 class="display-4">Welcome to Dashboard</h1>
    <p class="lead">Simple dashboard.</p>
    <hr class="my-4">
    <p>You are logged in as admin.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
</div>
